/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

h1 { font-family: "Raleway"; font-size: 3.75em; font-style: normal; font-variant: normal; font-weight: 500; margin-top: 0.25em ; margin-bottom: 0.25em; } 
h2 { font-family: "Raleway"; font-size: 2.75em ; font-style: normal; font-variant: normal; font-weight: 500; margin-bottom: 1.25em; } 
h3  { font-family: "Raleway"; font-size: 1.5em ; font-style: normal; font-variant: normal; font-weight: 300; margin-bottom: 0.25em; } 
p  { font-family: "Raleway"; font-size: 1em ; font-style: normal; font-variant: normal; font-weight: 300; margin-bottom: 0.25em; } 
body{

    background-color: #000000;
    color: #ffffff;
}
header{
    text-align: center;

}
header img{
    width: 100%;
}
.descripcion{
    background-color: #000000;
    padding: 3% 10% 3% 10%;
 
}
.detalle{
    vertical-align: middle;
    display: inline-block;
    width: 40%;
    margin-left: 10%;
    margin-right: 5%; 
}
.foto-desc{
    vertical-align: middle;
    display: inline-block;
    width: 30%;
    
}
.foto-desc img{
   
    width: 100%;
    
}
.caracteristicas{
    text-align: center;
    background-color: #1E1A13;
    padding: 2% 5% 2% 5%;    
}

.item{
    display: inline-block;
    width: 20%;
    padding: 1%;
}

.galeria{
    text-align: center;
    background-color: #000000;
    padding: 2%;
}
.foto{
    display: inline-block;
    width: 20%;
    padding: 1%;
}
.foto img{
   
    width: 100%;
    height: 250px;
}
footer{
    text-align: center;
    background-color: #1E1A13;
    padding: 2%;
}


  